<title><%= @entry.title %></title>

<head>
<style type="text/css">
<!--
img {
	width: 640px;
}
-->
</style>
</head>

<h1><%= @entry.title %></h1>
<div><a href="<%= @entry.link %>"><%= @entry.link %></a></div>
<div><%= @entry.description %></div>
<div><font color="red" style="bold"><%= @entry.hatebu_count %> users</font></div>

<% @entry.total_count.times do |count| %>
  <% if @entry.sitename == "slideshare" %>
  <li><img src='<%= @entry.slide_base_image_url.sub("#No", "#{count+1}") %>' border="1">
  <% elsif @entry.sitename == "Speaker Deck" %>
<li><img src='<%= @entry.slide_base_image_url.sub("#No", "#{count}") %>' border="1">
  <% end %>
<% end %>


<hr>
<a href="/entries">戻る</a>
