<title><%= @entry.title %></title>

<h1><%= @entry.title %></h1>
<div><a href="<%= @entry.link %>"><%= @entry.link %></a></div>
<div><%= @entry.description %></div>
<div><%= @entry.hatebu_count %> users</div>

<% @entry.total_count.times do |count| %>
  <li><img src='<%= @entry.slide_base_image_url.sub("-1-", "-#{count+1}-") %>'>
<% end %>


<hr>
<a href="/entries">戻る</a>
